<meta charset="utf-8">

<title>
  {% if page.author %}
    {{ page.author }} «{{ page.name }}» | {{ site.title }}
  {% elsif page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

<meta name="viewport" content="width=device-width initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="4FirSEJ1hs3maKt3x98O4mI4S7rFdzJISwcFul5mdsA" />

{% if page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
{% endif %}

<link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="/main.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60518096-1', 'auto');
  ga('send', 'pageview');
</script>
