.book-header {
  @extend %header;
}

.book-image {
  @extend %thumb;
  margin-right: $base-text-col-gap + $base-text-indent;
  cursor: zoom-in;
}

.book-content {
  overflow: auto;
}

.book-annotation {
  margin-bottom: 1em;
}

.book-meta {
  color: $brand-color;
  margin-bottom: 1em;

  dt {
    font-weight: bold;
    display: inline-block;
  }

  dd {
    display: inline;
    &:after {
      display: block;
      content: "";
    }
  }
}

.book-buy {
  display: inline-block;
  margin-bottom: 1em;
}

.book-description {
  margin-bottom: 1em;

  p {
    text-indent: #{$base-text-indent};
  }
}

.book-excerpt {
  @extend %clearfix;
  margin-bottom: 1em;
  li {
    float: left;
    display: inline;
    margin-right: 2em;
  }
}

.book-pdflink {
  &:before {
    content: "";
    background-image: url("/images/pdf-icon.gif");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
  }
}

.book-table-of-contents {
  ul > li {
    margin-left: 1em;
  }

  ol > li {
    list-style-type: upper-roman;
    margin-left: 1em;
    margin-bottom: 0.3em;
    list-style-position: inside;

    ol > li {
      list-style-type: upper-latin;

      ol > li {
        list-style-type: decimal;

        ol > li {
          list-style-type: lower-latin;

          ol > li {
            list-style-type: decimal;
          }
        }
      }
    }
  }
}

.book-table-of-contents-header {
  margin: 1em 0 1em 0;
}

.book-out-of-stock {
  color: gray;
  margin-bottom: 1em;
}
