.logo {
  display: block;
  margin: 2em auto 1em auto;
}

.menu-wrapper {
  @extend %clearfix;
  margin-bottom: 6em;
}

.menu-pages {
  @include menu($gap: 7.5em, $padding: 0.35em);
  border-width: 1px 0;
}
